@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Team</h2>
<br />
<p>
  <label>Select group name:</label>&nbsp;
  @Html.DropDownList("SearchString", new SelectList(ViewBag.GroupList, "Value", "Text"), new { id = "searchString" })
</p>
<div id="usersBlock" style="display: none;">
  <p>
    <label>Group&nbsp;<span id="groupName"></span>&nbsp;members:</label>
  </p>
  <div id="users">
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $('#searchString').change(function () {
      var group = $('#searchString option:selected').text();
      $("#users").empty();
      if (group != "") {
        $.ajax({
          url: "Team/GroupDetails",
          method: "POST",
          data: { searchString: group },
          dataType: "json",
          success: function (result) {
            $("#usersBlock").attr("style", "display: block;");
            for (var i = 0; i < result.length; i++)
              $("#users").append("<p>" + result[i].UserName + "</p>");
          }
        });
        $('#groupName').text(group);
      }
      else {
        $("#usersBlock").attr("style", "display: none;");
      }
    });
  });
</script>


